.center {
	text-align: center;
}

.right {
	float: right
}

.left {
	float: left;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
}

.white-text {
	color: white;
	text-shadow: 0px 1px #999999;
}

.grey-text {
	color: #333333;
}

.med-grey-text {
	color: #595959;
}

.light-grey-text {
	color: #b3b3b3;
}

.red-text {
	color: #ff0000;
	font-size: 13px;
	padding: 40px 0px;
}

.small-padding {
	padding: 25px;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.font-playfair {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.unstyled {
	font-style: normal;
}

/*-----------HEADER--------------------------*/

.header-image {
	height: 7vh;
}