h1 {
	font-size: 5rem;	
}

h2 {
	font-size: 2rem;
}

.center {
	text-align: center;
}

.right {
	float: right
}

.left {
	float: left;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
}

.white-text {
	color: white;
	text-shadow: 0px 1px #999999;
}

.grey-text {
	color: #333333;
}

.med-grey-text {
	color: #595959;
}

.light-grey-text {
	color: #b3b3b3;
}

.red-text {
	color: #ff0000;
	font-size: 13px;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.font-playfair {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.unstyled {
	font-style: normal;
}

/*-----------HEADER--------------------------*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1.4em 1.4em 0em 1.4em;
}

.navbar {
	order: 3;
	border-top: 1px #b3b3b3 solid;
	width: 100%
}

ul.nav {
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 100%;
	padding: 1em;
}

.menu-item {
	font-size: 1.7em;
	padding: 0 4px;
}

.header-image {
	height: 3.5em;
	position: relative;
	margin-bottom: 1em;
}

.cart {
	display: flex;
	justify-content: flex-end;
	position: relative;
	background: url("assets/images/cart-icon.svg") center no-repeat;
	background-size: 3.5em;
	width: 20%;
	height: 4em;
	margin-bottom: 1em;
}

#cart-quantity {
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 1;
    padding: 10px;
    color: white;
    display: none;
    width: 12px;
    height: 12px;
    font-size: 1.2em
    text-align: center;
}

ul .menu-item {
	color: red;
	text-decoration: none;
}

ul .menu-item:visted {
	color: red;
}

/*-----------END OF HEADER----------------------*/

/*------------BANNER-----------------------------*/

.banner {
	display: flex;
	align-items: center;
	height: 60vh;
	background: linear-gradient(rgba(0,0,0,.2) 100%, transparent), url("assets/images/banner-girl.png") center bottom no-repeat, url("assets/images/flower-bkgd.jpg") no-repeat center;
	background-size: cover, auto 85%, cover;
}

.banner-title {
	position: relative;
	width: 80%;
	z-index: 3;
	font-size: 1.8em;
	margin: 0 auto;
	text-align: center;
}

.banner-subtitle {
	font-size: 0.8em;
}

.margin-bottom {
	margin-bottom: 5%;
}

/*************CTA/ABOUT*************/

.section-format {
	text-align: center;
    padding: 2em;
}

.section-title {
	font-style: italic;
	font-size: 2.5em;
	margin: 30px auto;
}
.section-text {
	font-size: 1em;
	line-height: 1.9;
	padding: 2%;
}

/*************END CTA/ABOUT*************/

/******************TRENDS********************/

.category-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.mens {
	background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("assets/images/mens-category.jpg");
}

.mens:hover {
	background: linear-gradient(rgba(0,0,0,.6) 100%, transparent), url("assets/images/mens-category.jpg");
}

.trends {
	background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("assets/images/trends-category.jpg");
	/*margin: 1% 1% 1% 0%;*/
}

.trends:hover {
	background: linear-gradient(rgba(0,0,0,.6) 100%, transparent), url("assets/images/trends-category.jpg");
}

.glasses {
	background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("assets/images/glasses-category.jpg");
	/*margin: 1% 0% 1% 1%;*/
}

.glasses:hover {
	background: linear-gradient(rgba(0,0,0,.6) 100%, transparent), url("assets/images/glasses-category.jpg");
}

.sale {
	background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("assets/images/sale-category.jpg");
	/*margin: 1% 1% 1% 0%;*/
}

.sale:hover {
	background: linear-gradient(rgba(0,0,0,.6) 100%, transparent), url("assets/images/sale-category.jpg");
}

.bags {
	background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("assets/images/bags-category.jpg");
	/*margin: 1% 0% 1% 1%;*/
}

.bags:hover {
	background: linear-gradient(rgba(0,0,0,.6) 100%, transparent), url("assets/images/bags-category.jpg");
}

.womens {
	background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("assets/images/womens-category.jpg");
}

.womens:hover {
	background: linear-gradient(rgba(0,0,0,.6) 100%, transparent), url("assets/images/womens-category.jpg");
}

.category-background, .category-background:hover {
	background-size: cover;
} 

.rectangle {
	width: 100%;
	height: 30vh;
	margin: 1% 0%;
}

.square {
	width: 49%;
	height: 30vh;
	margin: 1% 0%;
}

h5 {
	font-size: 1.8em;
	text-align: center;
	margin-top: 40%;
}

.rectangle-text {
	margin-top: 20%;
}

/*****************MOST LOVED PRODUCTS *****************/

.product-title {
	font-size: 1.8em;
	padding: 0.5em;
}

.add-to-cart {
	background-color: black;
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 20px;
}

.owl-theme .owl-nav [class*=owl-]{
	display: none !important;
}

/*************SUBSCRIBE****************/

.signup {
	background: linear-gradient(rgba(0,0,0,.2) 100%, transparent), url("assets/images/wave-bkgd.jpg") bottom;
	background-size: 350%;
	height: 55vh;
	margin-bottom: 20px;
}

.sub-form {
	background: white;
	border-radius: 40px;
	text-align: center;
	width: 95%;
	margin: 45px auto;	
	padding: 3px 3px 3px 15px;
	display: block;
}

.email-form {
	width: 60%;
	border: none;
	background: none;
	padding: 1em 0em;
	font-size: 1em;
}

.email-form:active {
	border: none;
}

.subscribe {
	color: white;
	background: red;
	padding: 0.7em 2em;
	border-radius: 40px;
	font-size: 1em;
}

/*************FOOTER******************/

.footer {
	background-color: #262626;
	height: 30vh; 
	padding: 3em;
}

.info-text {
	font-size: 1em;
	line-height: 1.5;
}

.contact-text {
	font-size: 1em;
	line-height: 2;
	padding: 15px;
}

.hidden {
	display: none;
}

.icon {
	text-align: center;
	padding: 5px;
}

a:visited {
	color: white;
}

ul.social-icons {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: stretch;
	width: 100%;
    margin-top: 3%;
}

/***************MEDIA QUERIES********************/

/***************** TABLET************************/
@media (min-width: 600px) {
	body {
		/*display: none !important;*/
	}
.section-format {
		padding: 5%;
}

.section-title {
		font-size: 2.5em;
}

.section-text {
	font-size: 1.1em;
	line-height: 1.9;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-top: 3%;
}

.header-image {
	height: 4em;
	position: relative;
}

.cart {
	order: 3;
	height: 4em;
	background-size: 70%;
}

ul.nav {
	display: flex;
	list-style: none;
	justify-content: center;
	width: 100%;
	border: none;
}

#cartQuantity {
    top: 3px;
    right: -8px;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 2rem;
}

.menu-item {
	font-size: 1.5rem;
	padding: 3px;
}

/******************* BANNER **********************/

.banner-title {
	font-size: 1.8em;
}

.banner-subtitle {
	font-size: 0.6em;
	    margin-bottom: 2%;
}

/******************* ABOUT **********************/

.cta {
	border: none;
}

/******************* SHOP **********************/

.rectangle {
	width: 49%;
	height: 25vh;
	margin: 1% 0%;
}

.square {
	width: 24%;
	height: 25vh;
	margin: 1% 0%;
}

.rectangle-text {
	margin-top: 22%;
}

h5 {
	font-size: 2.5rem;
	text-align: center;
	margin-top: 45%;
}

	/*.product-roll {
		display: block;
	}*/
	.above {
		float: left;
		padding: 10px;
	}
	.below {
		padding: 10px;
	}
	
	/*.item-pic {
		height: inherit;
	}*/
	.red-text {
		font-size: 25px;
	}

	.signup {
		background-size: 200%;
	}

	.sub-form {
		width: 70%;
	}

	.footer-section-left {
		float: left;
	}
	.footer-section-right {
		float: right;
	}
	.info-text {
		font-size: 22px;
	}
	.contact-text {
		padding: 8px 0px;
		font-size: 22px;
	}
	.icon {
		float: none;
		font-size: 20px;
		text-align: left;
		padding: 5px 15px;	
	}
	
	.hidden {
		display: inline;
	}
	p.center {
		text-align: left;
	}

	ul.social-icons {
		display: inline;
	}

/***************DESKTOP****************************/

@media (min-width: 1050px) {

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1rem;
}

.margin-bottom {
	margin-bottom: 2%;
}
	.flex-container {
		height: 15vh;
		margin-top: 0%;
	}

	.header-image {
	padding: 15px;
	height: 60%;
	position: relative;
}

ul.nav {
	margin-top: 0%;
}

#cartQuantity {
    top: 10px;
    right: 10px;
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 1rem;
}

.banner {
	height: 80vh;
}

.section-text {
	font-size: 2rem;
	line-height: 1.9;
	padding: 2%;
}

.rectangle {
	width: 49%;
	height: 50vh;
	margin: 1% 0%;
}

.square {
	width: 24%;
	height: 50vh;
	margin: 1% 0%;
}


.signup {
	/*height: 55vh;*/
	background-size: 100%;
}

.signup-title {
	margin: 0 auto;
	font-size: 2.5rem;
}

.email-form {
	padding: 8px 40px;
	font-size: 1rem;
}

.email-form:active {
	border: none;
}

.subscribe {
	padding: 5px 40px;
	font-size: 1rem;
}

.sub-form {
	margin: 0 auto;
}

.footer {
	height: 35vh;
}
